<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.texeasy">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.hzdongcheng.drivers.DRIVER_MANAGER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- bugly -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/base_ic_texeasy_logo_2"
        android:label="@string/appName"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/TexEasy">

        <activity
            android:name=".base.ui.activity.NewTemplateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.example.common.view.activity.TemplateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>